@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#main{
    width:100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

#mini-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #95C11E;
    position: fixed;
    z-index: 999;
}

#circle-blur{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #9abf33;
    position: fixed;
    z-index: 9;
    filter: blur(100px);
}

#page-one{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
}

#nav{
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 25px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

video{
    width: 100%;
    position: fixed;
    z-index: -1;
}

#nav-pt-1{
    display: flex;
    align-items: center;
    
}

#nav-pt-1 h4{
    margin-left: 50px;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#nav-pt-2 {
    display: flex;
    align-items: center;
}

#nav-pt-2 h4{
    font-weight: 300;
    font-size: 13px;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    border: 2px solid #95C11E;
    border-radius: 30px;
    background-color: #000;
}

#nav-pt-1 img{
    width: 9%;
}


#hero-text{
    width: 80%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#hero-text h1{
    text-transform: uppercase;
    font-size: 130px;
    position: relative;
}

#hero-text h1::before{
    color: #000;
    -webkit-text-stroke: 2px #95C11E;
    content: "EAT. DRINK. PLAY";
    position: absolute;
    bottom: 1.5%;
    left: 3.4%;
    z-index: -1;
}

#hero-text h5{
    font-size: 30px;
}

#hero-text h6{
    padding: 0 25%;
    font-size: 15px;
    font-weight: 300;
}

#page-two {
    height: 80vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    overflow-x: auto;
    color: #fff;
    display: flex;
    position: relative;
    z-index: 10;
    margin-bottom: 50px;
}

#scroller::-webkit-scrollbar{
    display: none;
}

.scroller-1{
    display: flex;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}

.scroller-1 h4{
    font-weight: 900;
    color: #000;
    font-size: 120px;
    -webkit-text-stroke: 1px #fff;
    margin-right: 30px;
    transition: all linear 0.5s;
}

.scroller-1 h4:hover{
    color: #95C11E;
    -webkit-text-stroke: 1px transparent;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#about-container {
    position: relative;
    z-index: 9;
    padding: 0 7%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-content{
    padding: 0 9%;
    text-align: center;
}

#about-content h1{
    margin-bottom: 20px;
    font-size: 50px;
}

#about-content h5{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

#about-container img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.5;
}

#page-three{
    height: 65vh;
    position: relative;
    z-index: 9;
    padding: 0 7%;
}

#cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cards-container .cards{
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card-1{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg");
}

.card-2{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg");
}

.card-3{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg");
}

.cards h1{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 40px;
    line-height: 1;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 100px 30px 0px 30px;
    opacity: 0;
    transition: all linear 0.2s;
}

.overlay:hover{
    opacity: 100;
}


.overlay h4{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.overlay p{
    font-size: 13px;
}

#green-container{
    position: relative;
    z-index: 9;
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(to right top, #a4d521, #86c928, #68bd2e, #47b033, #1da338);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#green-container .img-1{
    height: 100%;
    transform: scale(2) rotate(180deg);
    opacity: 0.5;
    object-fit: cover;
    object-position: center;
}

#green-container .img-2{
    height: 100%;
    transform: scale(2) rotate(360deg);
    opacity: 0.5;
    object-fit: cover;
    object-position: center;
}

#green-container h4{
    font-size: 25px;
    width: 40%;
    text-align: center;
}

#food-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: #fff;
    position: relative;
    z-index: 9;
}

#food-content{
    width: 500px;
}

#food-container img{
    height: 400px;
    width: 600px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

#food-content p{
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#food-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#food-content a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border: 2px solid #95C11E;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    transition: all linear 0.3s;
}

#food-content a:hover{
    background-color: #95C11E;
    color: #000;
}

#social {
    height: 30vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

#tilted {
    white-space: nowrap;
    overflow-x: auto; 
}

#tilted::-webkit-scrollbar{
    display: none;
}

#tilted img{
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    margin-left: 20px;
}

#quote{
    color: #fff;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-content{
    width: 70%;
    height: 45%;
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-content .quote-img-1{
    height: 45px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#quote-content p{
    width: 80%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

#quote-content .quote-img-2{
    height: 45px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;

}

#waiting {
    
    height: 50vh;
    position: relative;
}

#waiting h1{
    position: absolute;
    left: 15%;
    font-size: 70px;
    -webkit-text-stroke: 1px #95C11E;
}

#containers {
    position: relative;
    z-index: 9;
    display: flex;
    top:18%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#containers .container{
    height: 150px;
    width: 375px;
    border-radius: 15px;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containers .container h4{
    font-size: 35px;
}

#containers .container{
    object-fit: contain;
    object-position: center;
}


#containers .container-1:hover{
    color: #fff;
    background: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#containers .container-2:hover{
    color: #fff;
    background: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}
#containers .container-3:hover{
    color: #fff;
    background: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#footer {
    position: relative;
    z-index: 9;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #a4d521, #86c928, #68bd2e, #47b033, #1da338);
}

#dots {
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

#footer a{
    text-decoration: none;
    color: #000;
}

#footer-top { 
        margin-top: 5%;
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: space-between; 
}

#footer-top a{
    font-weight: 900;
    font-size: 25px;
}

#footer-top #col-1{
    display: flex;
    flex-direction: column;
}


#footer-top #col-1 img{
    width: 35%;
    margin-bottom: 30px;
}

#footer-top #col-1 i{
    font-size: 30px;
}

#footer-top #col-2{
    display: flex;
    flex-direction: column;
}

#footer-top #col-3{
    display: flex;
    flex-direction: column;
}

#footer-top #col-4 p{
    font-size: 12px;
    font-weight: 800;
}

#footer-top #col-4 a{
    font-size: 20px;
    font-weight: 800;
}

#footer-top #col-4{
    display: flex;
    flex-direction: column;
}

#footer-top {
    
}

#footer-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

#footer-bottom #content-1{
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-bottom #content-2{
    font-size: 12px;
}